@import url(general.css);
section{
	width:98%;
	height:95%;
	margin-left:10px;
}
#applicationCardContainer{
	display:block;
	visibility:visible;
	width:98%;
}

.Cards{
	width:130px;
	height:150px;
}
#applicationCard{
	float:left;
	margin:10px 10px 10px 10px;
}

#applicationCardBackgroud{
	background-image:url(../img/card_background.png);
	background-size:100% 100%;
}

#applicationCardContent{
	position:absolute;
	width:130px;
	height:150px;
}

#applicationCardContent a{
	display:block;
	width:100%;
	height:100%;
}

#applicationCardImg,#applicationCardImg img{
	width:100px;
	height:100px;
}
#applicationCardImg{
	padding-top:10px;
	margin-left:15px;
	margin-right:15px;
}

#applicationCardName{
	position:absolute;
	top:120px;
	width:100%;
	height:21px;
	text-align:center;
}
#applicationCardName h4{
	margin:0;

}